NEXT_PUBLIC_SUPABASE_URL=https://bjesduasnzbzywofukbf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VaRFZdh9P28eGFsfoZhFxA_YHnjXHyv
NEXT_PUBLIC_API_URL=https://vuelatour-api-production.up.railway.app
