# Supabase — publishable y URL son seguras para exponer al cliente
NEXT_PUBLIC_SUPABASE_URL=https://bjesduasnzbzywofukbf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VaRFZdh9P28eGFsfoZhFxA_YHnjXHyv

# Vuelatour API
NEXT_PUBLIC_API_URL=http://localhost:3001
